/* This file is for your main application css. */

@import "~milligram/dist/milligram";

body {
	max-width: 500px;
    margin: auto;
    margin-top: 4%;
}

.row {
	margin-left: 0 !important;
	justify-content: space-between;
	width: 100% !important;
	flex-wrap: wrap;
}

h1 {
	text-align: center;
	color: #9b4dca;
	margin-bottom: 10px;
}

.col-3 {
	padding-bottom: 10px;
}

.card {
	width: 102px;
	height: 102px;
	font-size: 30px;
}

.cardValue {
	height: 100%;
	background-color: #9b4dca;
	padding: 27px 41px;
	color: #fff;
}

.guess {
	background-color: #d1d1d1;
	padding: 27px 43px;
	color: #fff;
}






